.thankyou-container {
    width: 87%;
    max-width: 37rem;
    height: fit-content;
    text-align: left;
    padding: 3rem 2rem;
    background: radial-gradient(circle at top, var(--light-grey-color) -750%, var(--dark-blue-color) 80%);
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0.8rem var(--dark-blue-color);
}

.thankyou-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustration-container {
    width: 20rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
    border-radius: 50%;
}

.illustration {
    width: 100%;
    height: 100%;
}

.score {
    color: var(--primary-color);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-bold);
    background-color: var(--light-grey-background);
    padding: 1rem 2rem;
    border-radius: 3rem;
    margin-bottom: 3rem;
}

.thankyou-content h2 {
    color: var(--white-color);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    margin-bottom: 1.5rem;
}

.thankyou-content .message {
    color: var(--light-grey-color);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-medium);
    margin-bottom: 3rem;
    text-align: center;
    word-break: break-word;
    hyphens: auto;
}